.navbar{
    background-color: rgb(203, 185, 185);
    padding: 5px;


 }
 .nav-brand{
    display: inline-block;
    color: blue;
    margin-right: 100px;
 
 }
 .nav-menu{
   margin: 0 10px;
   display: inline-block;
   color: blue;
   font: bolder;

 }
 